 <div class="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Warning!</strong> Your program exceeds %110 capacity/quota
        </div>

          <div class="page-header">
        <h1>Dominican Repulic At Risk Youth Initiative <small>Subtext for header</small></h1>
      </div>

        <div class="panel"style="float: left; margin: 20px">
          <div class="panel-heading">
          <h3 class="panel-title">Forms</h3>
        </div>
         <p> <%= link_to 'Participant Registrion Form', 'surveys/participant-registration',:method => :post %> </a></p>
         <p>Participant Exit Survey</p>
         <p>Program Survey</p>
      </div>

        <div class="panel" style="float: left; margin: 20px">
          <div class="panel-heading">
          <h3 class="panel-title">Reports</h3>
        </div>
         <p>Participant Survey</p>
         <p>Participant Exit Survey</p>
         <p>Program Survey</p>
      </div>

      <div class="panel" style="float: left; margin: 20px">
          <div class="panel-heading">
          <h3 class="panel-title">Admin</h3>
        </div>
         <p>Manage Activities</p>
         <p>Manage Events</p>
      </div>


<div style="float: left">
      
    <div style="margin: 20px; width: 150px" >
      <h1 style="font-family: league-gothic-1,league-gothic-2,sans-serif; font-size: 6em; text-align: center">21</h1>
      <p>Contacts to Execute
    </div>
      
      <div style="margin: 20px">
          <h4>
          Upcoming Events
          </h4>
         <p>Event Tomorrow</p>
         <p>Event Next Week</p>
      </div>
</div>
      
      </div>