// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.footer-padding {
	margin-bottom: 15px;
}

a:hover {

    background-color: #FFFFFF;
}