<html >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
      
      <%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
  		<%= csrf_meta_tags %>

    <title>Alerta Joven</title>

    <!-- Custom styles for this template -->
      <link href="assets/sticky-footer-navbar.css" rel="stylesheet">
      <link href="assets/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-fixed-top">
        <div class="container">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Alerta Joven</a>
          <div class="nav-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><%= link_to 'Providers', providers_path %></li>
              <li><%= link_to 'Programs', programs_path %></li>
              <li><%= link_to 'Activities', activities_path %></li>
               <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Particiapnt Coverage</a></li>
                  <li><a href="#">Provider Coverage</a></li>
                  <li><a href="#">Activity Utilization</a></li>
                  <li><a href="#">Event Summary</a></li>
                  <li><a href="#">Program Detail</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container footer-padding" >

		<%= yield %>

      
      </div>

    <div id="footer">
      <div class="container">
       
       Alerta Joven &copy; 2013. This website was made possible by blah, blah, blah

      </div>
    </div>

   

  </body>
</html>